<h1 class="display-5">Clientes</h1>
<hr>

<a [routerLink]="['/clientes/cadastro']" routerLinkActive="router-link-active"  class="btn btn-warning mx-2 mb-4">Novo Cliente</a>

<br>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">CPF</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Rendimento Mensal</th>
      <th scope="col">Rua</th>
      <th scope="col">Número</th>
      <th scope="col">CEP</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th scope="row">{{cliente.cpf}}</th>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.telefone}}</td>
      <td>{{cliente.rendimentoMensal | currency: 'BRL'}}</td>
      <td>{{cliente.rua}}</td>
      <td>{{cliente.numero}}</td>
      <td>{{cliente.cep}}</td>
      <td>
        <button type="button" class="btn btn-dark mx-1">Editar</button>
        <button type="button" class="btn btn-danger" (click)="deleteCustomer(cliente.cpf)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>
